#.obsidian/workspace.json
#.obsidian/workspace-MOBILE.json
#.obsidian/vaults.json
#.obsidian/backups/
#.bak
#.temp
#.obsidian/.bak
#.obsidian/sync.json
#.obsidian/plugins//data.json
#.obsidian/plugins/*/main.js.map
#~
#.tmp